.Rproj.user
.Rhistory
.RData
.Ruserdata
Figure_revision/
Rightseeds.Rproj
Rplots.pdf
desktop.ini

caluclatedurations.R
choice sets.Rmd
data/pilot/
data/pilot2/
data/rightseeds_live.codeplan_v1.0_LK_secomments.xlsx
data/rightseeds_live.codeplan_v2.0.xlsx
data/rightseeds_sim01_covariates.xlsx
data/rightseeds_sim01_dce_gg.xlsx
data/rightseeds_sim01_dce_os.xlsx
data/rightseeds_sim01_pages.xlsx
data/rightseeds_sim02_covariates.xlsx
data/rightseeds_sim02_dce_gg.xlsx
data/rightseeds_sim02_dce_os.xlsx
data/rightseeds_sim02_pages.xlsx
design/
design_pretest.xlsx
design_pretest_rightseeds.dta
designformainstudy.R
designnew.csv
designtesting.R
modeloutput/
pilot.R
pilot.Rmd
pilot.html
pilotNo2.Rmd
pilotNo2.html
selectedrespondents.csv
simulation.R
simulation_dummy.R
swap_ortdes.R
tables/
testdelete.R
auswertungHauptstudie_files/
scripts/mixlogitbody_old.R
